# Ignore environment and secret files
.env
*.env
.env.local
.env.*.local
*.enc
*.db

# Ignore node_modules and logs
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
coverage/

# Ignore OS or editor-related files
.DS_Store
*.swp
*.swo
.vscode/

# Ignore build and hosting artifacts
dist/
build/
.vercel/
.netlify/
